@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}
p {
	font-size: 14px;
}
h5 {
	font-size: 16px;
	font-weight: 600;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 840px;
	}
}
